@font-face{font-family:'pf_dintext_prothin';src:url('pfdintextpro-thin-webfont.eot');src:url('pfdintextpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
url('pfdintextpro-thin-webfont.woff2') format('woff2'),
url('pfdintextpro-thin-webfont.woff') format('woff'),
url('pfdintextpro-thin-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'pf_dintext_promedium';src:url('pfdintextpro-medium-webfont.eot');src:url('pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('pfdintextpro-medium-webfont.woff2') format('woff2'),
url('pfdintextpro-medium-webfont.woff') format('woff'),
url('pfdintextpro-medium-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'pf_dintext_proregular';src:url('pfdintextpro-regular-webfont.eot');src:url('pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('pfdintextpro-regular-webfont.woff2') format('woff2'),
url('pfdintextpro-regular-webfont.woff') format('woff'),
url('pfdintextpro-regular-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'pf_dintext_probold';src:url('pfdintextpro-bold-webfont.eot');src:url('pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('pfdintextpro-bold-webfont.woff2') format('woff2'),
url('pfdintextpro-bold-webfont.woff') format('woff'),
url('pfdintextpro-bold-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'pf_dintext_prolight';src:url('pfdintextpro-light-webfont.eot');src:url('pfdintextpro-light-webfont.eot?#iefix') format('embedded-opentype'),
url('pfdintextpro-light-webfont.woff2') format('woff2'),
url('pfdintextpro-light-webfont.woff') format('woff'),
url('pfdintextpro-light-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}